.window {
    fill: black;
}

#door {
    fill: saddlebrown;
}

#sun {
    fill: gold;
}

.sunglasses {
    fill: black;
}

#mouth {
    fill: firebrick;
}

#mouth1 {
    fill: gold;
}

.eyes {
    fill: white;
}
